# 构建中间件
work/
build/
*.spec
!SVN_Sync_Tool.spec
*.pyc
*.pyo
__pycache__/

# 操作系统
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
.venv/
.venv-macos/
*.swp
*.swo
*~

dist/
README.assets/
outputs/*.app/
